body {
    background-color: rgb(37, 38, 47);
    padding: 20px;
}

form {
    display: flex;
    flex-direction: column;
    gap: 20px;
    border: solid 2px white;
    background-color: black;
    padding: 10px;

    input {
        border: solid 2px rgb(255, 183, 0);
    }

    
button {
    border: solid 2px rgb(221, 255, 0);
    background-color: red;
    width: 200px;
    color: white;
}
}

#followerslist {
    color: white;
}


#home {
    border: solid 2px red;
    margin-top: 50px;
}